body {
    background-image: url("assets/images/background.jpg");
}

.site_content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.site_header {
    display: grid;
    grid-template-columns: 40% 60%;
}

.site_navigation {
    display: flex;
    list-style-type: none;
    margin-top: 15px;
    text-align: right;
}

.site_navigation li {
    margin: 0 10px;
    padding: 10px 10px 5px 10px;
    font-size: larger;
}

.front_page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.left_panel {
    align-items: left;
}

.front_page {
    display: flex;
}